* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background: black;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
}

h1,
h3 {
  color: white;
}

.hidden {
  opacity: 0;
}
